.card {
    height: 325px;
    display: flex;
    flex-direction: column;
    border-radius: 4px !important;
}
.cardMedia {
    padding-top: 55%
}
.cardContent {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-grow: 1;
    color: white;
    background-color: maroon;
    background-image: linear-gradient(135deg, maroon 0%, #864ba2 74%);
}
.Typography {
    font-size: 12px !important;
}
.gameName{
    font-size: 1.25em !important;
}
.gameDetails{
    text-align: right;
}
@media(min-width:1024px){
    .cardMedia {
        padding-top: 70%
    }
}