.card {
    height: 325px;
    display: flex;
    flex-direction: column;
}
.cardMedia {
    padding-top: 60%
}
.cardContent {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-grow: 1;
    color: white;
    background-color: #bf3a30;
    background-image: linear-gradient(135deg, #bf3a30 0%, #864ba2 74%);
}
.Typography {
    font-size: 12px !important;
}
.gameName{
    font-size: 1.25em !important;
}
.gameDetails{
    text-align: right;
}