.modal-trigger{
    border: 2px dashed #7500C0 !important;
    height: 335px; 
    width: 100%; 
}
.modal-btn{
    min-width: 40% !important;
}
.paper{
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field{
    margin: .5rem !important;
    width: 100%;
}
.box{
    margin: .5rem 0; 
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}