.box{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.field{
    margin: .5rem 0 !important;
    width: 100%;
}
.addButton{
    height: 325px; 
    /* border: 2px dashed #7500C0 !important; */
    border: 2px dashed #FFFFFF !important;
    width: 100%; 
}
.plus{
    color: white;
}
.addModalBtn{
    min-width: 40% !important;
}