.formControlLabel{
    position: absolute !important;
    bottom: calc(2 * 8px);
    right: 4px;
}
.hidden{
    display: none !important;
}
.cardActions {
    position: absolute;
    top: calc(2 * 8px);
    right: calc(2 * 8px);
}
.checkbox{
    color: white !important;
}